* {
    font-family: sans-serif;
    font-size: 9pt;
}

#info {
    font-size: 12pt;
    margin: 4px;
    padding: 2px;
}

.controls {
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}

#controls-left {
    margin: 8px;
    padding: 8px;
    float: left;
}

#controls-right {
    margin: 8px;
    padding: 8px;
    float: right;
}

#animate-speed {
    width: 64px;
}

.content {
    margin-top: 108px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.type-container {
    width: 175px;
}

.cores {
    width: 100%;
}

.core-icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #CCCCCC;
}

.memory {
    width: 100%;
}

.mem-bar {
    display: inline-block;
    margin: 1px;
    width: 160px;
    height: 12px;
    background-color: #CCCCCC;
}

.mem-bar-trunc {
    display: inline-block;
    margin: 1px;
    height: 12px;
    background-color: #CCCCCC;
}

.disk {
    width: 100%;
}

.disk-bar {
    display: inline-block;
    margin: 1px;
    width: 160px;
    height: 12px;
    background-color: #CCCCCC;
}

.disk-bar-trunc {
    display: inline-block;
    margin: 1px;
    height: 12px;
    background-color: #CCCCCC;
}

.instance-container {
    padding: 2px;
    margin: 2px;
    border: 1px solid #CCCCCC;
}

.active {
    overflow: auto;
}

.queue {
    width: 100%;
    height: 30px;
    overflow-y: scroll;
}

.step-field {
    width: 32px;
    text-align: right;
}

.step-button-small {
    width: auto;
}

.step-button-large {
    width: 64px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
